.footer{
    background-color: rgb(10, 23, 65);
    color: white;
    padding: 5%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap ;
    .col {
        
        width: fit-content;
        margin: 25px 50px;
    }
    a{
        color: white;
       font-size: 20px;
       margin: 10px;
    }
    .links {
        display: flex;
        flex-direction: column;
    } 
    h6 {
        font-size: 20px;
        margin-bottom: 15px;
    }
}