.nav {
    background: rgb(80, 0, 16);
    padding: 15px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
 .title {
    color: #fff;
    font-size: 28px;
    font-weight: bold;
 }
 .links a{
   color: #fff;
   font-size: 22px;
   margin: 0 15px;
 }
}
